{
  "openapi": "3.0.0",
  "info": {
    "title": "Nexlayer API",
    "description": "API for the Nexlayer Application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.nexlayer.io"
    }
  ],
  "paths": {
    "/startUserDeployment/{applicationID}": {
      "post": {
        "summary": "Start User Deployment",
        "description": "Start a deployment given an application ID. Accepts a YAML file uploaded using `--data-binary`.",
        "examples": {
          "curl": {
            "$ref": "#/components/examples/startUserDeploymentCurlExample"
          }
        },
        "parameters": [
          {
            "name": "applicationID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/startUserDeploymentResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "text/x-yaml": {
              "schema": {
                "$ref": "#/components/schemas/startUserDeploymentRequestBody"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "examples": {
      "startUserDeploymentCurlExample": {
        "value": {
          "language": "bash",
          "code": "curl -X POST https://app.staging.nexlayer.io/startUserDeployment/<applicationID> -H 'Content-type: text/x-yaml' --data-binary @nexlayer-template.yaml"
        }
      }
    },
    "schemas": {
      "getDeploymentsResponse": {
        "type": "object",
        "properties": {
          "deployments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "namespace": {
                  "type": "string",
                  "example": "ecstatic-frog"
                },
                "templateID": {
                  "type": "string",
                  "example": "0001"
                },
                "templateName": {
                  "type": "string",
                  "example": "K-d chat"
                },
                "deploymentStatus": {
                  "type": "string",
                  "example": "running"
                }
              }
            }
          }
        },
        "required": [
          "deployments"
        ]
      },
      "getDeploymentInfoResponse": {
        "type": "object",
        "properties": {
          "deployment": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string",
                "example": "ecstatic-frog"
              },
              "templateID": {
                "type": "string",
                "example": "0001"
              },
              "templateName": {
                "type": "string",
                "example": "K-d chat"
              },
              "deploymentStatus": {
                "type": "string",
                "example": "running"
              }
            }
          }
        },
        "required": [
          "deployment"
        ]
      },
      "startTemplateDeploymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Deployment started successfully"
          },
          "namespace": {
            "type": "string",
            "example": "ecstatic-frog"
          },
          "url": {
            "type": "string",
            "example": "https://ecstatic-frog-kd-chat.alpha.nexlayer.ai"
          }
        },
        "required": [
          "message",
          "namespace",
          "url"
        ]
      },
      "checkSiteStatusResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "UP"
          }
        },
        "required": [
          "message"
        ]
      },
      "startUserDeploymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Deployment started successfully"
          },
          "namespace": {
            "type": "string",
            "example": "fantastic-fox"
          },
          "url": {
            "type": "string",
            "example": "https://fantastic-fox-my-mern-app.alpha.nexlayer.ai"
          }
        },
        "required": [
          "message",
          "namespace",
          "url"
        ]
      },
      "saveCustomDomainRequestBody": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "mydomain.com"
          }
        },
        "required": [
          "domain"
        ]
      },
      "saveCustomDomainResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Custom domain saved successfully"
          }
        },
        "required": [
          "message"
        ]
      },
      "startUserDeploymentRequestBody": {
        "type": "string",
        "format": "binary"
      }
    }
  }
}
