{
  "openapi": "3.0.0",
  "info": {
    "title": "Nexlayer API",
    "description": "API for the Nexlayer Application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.nexlayer.io"
    }
  ],
  "paths": {
    "/startTemplateDeployment/{templateID}": {
      "post": {
        "summary": "Start Template Deployment",
        "description": "Start a deployment given a nexlayer template ID",
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/startTemplateDeploymentResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/checkSiteStatus/{namespace}/{deploymentName}": {
      "get": {
        "summary": "Check Site Status",
        "description": "Check the status of a deployment",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkSiteStatusResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/startUserDeployment/{userID}": {
      "post": {
        "summary": "Start User Deployment",
        "description": "Start a template deployment given a user ID",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/startUserDeploymentResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getDeployments": {
      "get": {
        "summary": "Get Deployments",
        "description": "Get all user deployments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getDeploymentsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/getDeploymentInfo/{namespace}": {
      "get": {
        "summary": "Get Deployment Info",
        "description": "Get information around a specific deployment",
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getDeploymentInfoResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "getDeploymentsResponse": {
        "type": "object",
        "properties": {
          "deployments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "namespace": {
                  "type": "string",
                  "example": "ecstatic-frog"
                },
                "templateID": {
                  "type": "string",
                  "example": "0001"
                },
                "templateName": {
                  "type": "string",
                  "example": "K-d chat"
                },
                "deploymentStatus": {
                  "type": "string",
                  "example": "running"
                }
              }
            }
          }
        },
        "required": [
          "deployments"
        ]
      },
      "getDeploymentInfoResponse": {
        "type": "object",
        "properties": {
          "deployment": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string",
                "example": "ecstatic-frog"
              },
              "templateID": {
                "type": "string",
                "example": "0001"
              },
              "templateName": {
                "type": "string",
                "example": "K-d chat"
              },
              "deploymentStatus": {
                "type": "string",
                "example": "running"
              }
            }
          }
        },
        "required": [
          "deployment"
        ]
      },
      "startTemplateDeploymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Deployment started successfully"
          },
          "namespace": {
            "type": "string",
            "example": "ecstatic-frog"
          },
          "url": {
            "type": "string",
            "example": "https://ecstatic-frog-kd-chat.alpha.nexlayer.ai"
          }
        },
        "required": [
          "message",
          "namespace",
          "url"
        ]
      },
      "checkSiteStatusResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "UP"
          }
        },
        "required": [
          "message"
        ]
      },
      "startUserDeploymentResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Deployment started successfully"
          },
          "namespace": {
            "type": "string",
            "example": "fantastic-fox"
          },
          "url": {
            "type": "string",
            "example": "https://fantastic-fox-my-mern-app.alpha.nexlayer.ai"
          }
        },
        "required": [
          "message",
          "namespace",
          "url"
        ]
      }
    }
  }
}
